{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<div class="container">
  <div class="blog-header">
    <blockquote>
    <h1 class="blog-title"><strong>{{ article.title }}</strong></h1>
    <h3 class="blog-title"><footer><em>{{ article.subtitle }}<em></footer></h3>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        <div>
          {% if article.photo %}
          <img src="{{ article.photo.url }}"/>
          {% endif %}
        </div>
        <p>{{ article.content|linebreaks }}</p>
        <div>{{ article.posted_at }}</div>
        <div>
          {% for comment in article.article_comments.all %}
            <div>{{ comment.username }} : {{ comment.content }}</div>
          {% endfor %}
        </div>
      </div>

      <div class="reply-form">
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-sm-3">
              <input class="form-control" name ="username" />
            </div>
            <div class="form-group col-sm-6">
              <input class="form-control" name ="content" />
            </div>
            <div class= "col-sm-3">
              <button class="btn btn-default "type ="submit" >댓글</button>
            </div>
          </div>
        </form>
      </div>



    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Hashtags</h4>
          <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li>#{{ hashtag }}</li>
          {% endfor %}
          </ol>
      </div>
      <div class="sidebar-module">
      </div>
    </div>
  </div>
</div>

{% endblock %}
